<html>
    <head>
        <title>Emma's Blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>

<div></div>

<h1>Cotton Milk</h1>

</div>

<div>

<h2>Allaiter partout, tout le temps </h2>

</div>

<div>

<h3>Allaiter en toute discrétion, c'est possible</h3>

</div>

<div>

<body>
    <p>Avant tout, il faut souligner qu'il n'existe aucune loi qui interdit d'allaiter en public. En effet, il s'agit de nourrir un bébé et il n'est absolument pas question d'exhibition sexuelle.</p>
    <p>Découvrez les astuces des mamans pour donner le sein partout, en toute discrétion.</p>
</body>
</div>

        <div>
<a href=www.cottonmilk.com>link</a>

<div></div>
<div>
    <h1><a href="/">Cotton Milk</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}